h1 {
    font-size: 50px;
}
*{
    margin:0px;
    padding:0px;
    }
    
    body{
      
      background-color:whitesmoke;
    }
    .inline-bl{display: flex;
      justify-content:space-between;
    
    }
    .gridiant{
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width:25%;
    
    
    height:auto;
    border-radius: 50%;
    }
    
    .thefloatdiv{
    
    width:100%;
    height:250px;
    border-radius:100%;
    
    
    
    border:2px dashed rgba(255, 255, 255, 0.917);
    animation-name: example;
      animation-duration: 0.5s;
     animation-iteration-count: infinite;
     overflow: hidden;
    }
    .thefloatdiv img{
    width:100%;
    height:100%;
    
    
    
    
    }
    
    @keyframes example {
      0% {border-left-color:transparent;}
      20% {border-top-style:solid;}
      25% {border-top-color:transparent;}
      40% {border-top-style:solid;}
      55% {border-right-color:transparent;}
      99% {border-top-style:solid;}
      100% {border-bottom-color:transparent;}
      
    }


    .thecard{
      display: inline-block;
      background-color: #ffff;
      width: 20%;
      height: auto;
      margin: 50px;
      text-align: center;
      padding: 15px;
      border-radius: 15px;
      color: rgb(28, 30, 32);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .cardimg img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

